@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .activeLink {
        @apply text-lime-100;
    }

    .custom-loader {
        width: 80px;
        height: 20px;
        color: #6a9c89;
        background: radial-gradient(farthest-side, currentColor 90%, #0000) left /
                20px 20px,
            radial-gradient(farthest-side, currentColor 90%, #0000) center/20px
                20px,
            radial-gradient(farthest-side, currentColor 90%, #0000) right / 20px
                20px,
            linear-gradient(currentColor 0 0) center/100% 8px;
        background-repeat: no-repeat;
        position: relative;
        animation: s6 2s infinite linear;
    }
    .custom-loader:before,
    .custom-loader:after {
        content: '';
        position: absolute;
        inset: 0;
        background: inherit;
        animation: inherit;
        --s: calc(50% - 10px);
        animation-direction: reverse;
    }
    .custom-loader:after {
        --s: calc(10px - 50%);
    }

    @keyframes s6 {
        0% {
            transform: translate(var(--s, 0)) rotate(0);
        }
        100% {
            transform: translate(var(--s, 0)) rotate(1turn);
        }
    }
}

@layer base {
    input[type='search']::-webkit-search-cancel-button {
        @apply -mr-6;
    }
}
